.sombra{
    -webkit-box-shadow: 11px 11px 0px 0px rgba(66,66,66,1);
    -moz-box-shadow: 11px 11px 0px 0px rgba(66,66,66,1);
    box-shadow: 11px 11px 0px 0px rgba(66,66,66,1);
}

.animation-spin{
    animation: spin 1s linear infinite;
}

.swiper {
    width: 600px;
    height: 300px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}