.sombra{
    -webkit-box-shadow: 11px 11px 0px 0px rgba(66,66,66,0.8);
    -moz-box-shadow: 11px 11px 0px 0px rgba(66,66,66,0.8);
    box-shadow: 11px 11px 0px 0px rgba(66,66,66,0.8);
}

.animation-spin{
    animation: spin 1s linear infinite;
}
.swiper{
    height: 500px;
}
body{
    font-family: '8BIT WONDER', sans-serif;
}
input{
    font-family: monospace;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
